.platform {
  height: 100vh;
  width: 100vw;
}

.super-menu {
  position: absolute;
  background: white;
  z-index: 100;
  box-shadow: -7px 10px 14px 5px rgba(0,0,0,0.19);
  padding: 20px;
}
.can-select:hover {
  color: lawngreen;
  cursor: pointer;
}
.selected {
  font-weight: bold;
  color: lawngreen;
}

.node {
  height: 135px;
  width: 135px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.node:hover > .node-overlay, .node-overlay:hover {
  opacity: 1;
}

.node-overlay {
  position: absolute;
  display: flex;
  opacity: 0;
  width: 100%;
  justify-content: space-between;
}

.node-overlay > .close {
  color: red;
}

/* ------------------------- */
.source {
  opacity: 0.8;
  transition: 0.5s;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.source > div {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.source:hover {
  opacity: 1;
  transition: 0.5s;
}

.source {
  height: 100px;
  width: 100px;
}

.oscillator {
  background: rebeccapurple;
}

.constant-source {
  background: blue;
}
